* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Slabo 27px', serif;
  background-image: url('../img/pattern.jpg');
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 20px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  color: #0b447c;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

nav ul a:hover {
  color: #24abe3;
}

section {
  border: 2px solid rgba(0, 0, 0, 0.125);
  margin: 80px 100px 20px;
  text-align: justify;
  padding: 5px;
  background-color: white;
}

#article-list {
  padding: 5px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

article {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 15px;
  margin: 30px 50px;
  background-color: #fdfdfd;
}


article a {
  color: white;
  text-decoration: none;
}

article a:hover {
  color: rgb(200, 200, 200);
}

article h3 {
  position: relative;
  right: 16px;
  width: 125px;
  padding: 5px;
  text-align: center;
  border-radius: 0 0 10px;
  background-color: #0b447c;
}

footer {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: black;
  background-color: white;
}